
body{
    background: #f7efef;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; 
    font-weight: 700;
    margin: 0;
}
.mainarea{
    height: 100vh;
    padding:0  10%;
}/*top and bot 0
   left and right 10%
*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header ul{
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.header li{
    list-style:none;
    margin: 10px 30px;
}
.header a{
    text-decoration: none;
    color: #3f51b5;
}

.text p{
    max-width: 600px;
}
.text h3{
    font-size: 45px;
    margin-bottom: 20px;
    color: #3f51b5;
}

.footer{
    font-size: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #3f51b5;
}
/*use for all pages*/


.course ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
    list-style-type: none;
}
.course h4{
    margin:0;
}
.course p{
    margin:0;
}
.arrow{
    width: 24px;
    height: 24px;
    position: relative;
    top: -25px;
    background-image: url(../images/arrow-right.svg);
    float: right;
}
.course li{
    font-size: 16px;
    font-weight: 400;
    color: #364650;
    border-left: 5px solid #3f51b5;
    display: block;
    background: #F4F4F4;
    padding: 15px;
    padding-bottom: 0;
    cursor: pointer;
    width: 50%;
    margin: 0 0 15px 0;
}
.course a{
    color: #364650;
    text-decoration: none;
}
.course ul :hover{
    text-decoration: underline;
}
/* use for coures page*/
.course_details{
    padding-left: 20%;
}
.course_details ul{
    width: 50%;
    display: flex;
    list-style-type: none;
    flex-direction: column;

}
.course_details  li{
    display: flex;
    background: #F4F4F4;
    padding: 6px;
    margin: 6px;
    border-left: 5px solid #3f51b5;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.apply{
    width: 10%;
    position: relative;
    top: -60px;
    left: 60%;
}
/*course details*/

.table_area{
    padding-left: 10%;
}
.table{
    width:80%; 
    border-collapse: collapse;
    background: #F4F4F4;
}
.table th{
    padding: 8px;
    border: 1px solid;
}
.table td{
    padding: 8px;
    font-size: 15px;
    border: 1px solid;
}
/* use for apply page*/